
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
#from{
  width: 400px;
  margin-top: 40px;
  margin-left: 35%;
}
.login-page{
  padding: 3rem;
}
h1{
  background-color: dodgerblue;
}